<nav class="sidebar navbar-expand">
  <ul class="nav navbar-nav flex-column">
    <li class="nav-item">
      <%= link_to t("sidebar.dashboard"), root_url, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t("sidebar.message_packages"), admin_message_packages_url, class: "nav-link" %>
    </li>
  </ul>
</nav>
