<nav class="sidebar navbar-expand">
  <ul class="nav navbar-nav flex-column">
    <li class="nav-item">
      <%= link_to t("sidebar.dashboard"), root_url, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t("sidebar.mailbox"), admin_mailbox_url, class: "nav-link" %>
    </li>
  </ul>
</nav>
