---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJzdC1hZG1pbkBxdWlja3N0YXJ0LTE1NjQ1MTExNDc2MjYuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE3Mjg5MzYyNDEsImlhdCI6MTcyODkzNjEyMSwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL3NwcmVhZHNoZWV0cyBodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL2RyaXZlIn0.SGoqeJiqoeO9LLN8Nyi047qSQxK03XWK2WhQOJj9lrfX7IsruslzNmzUMLNjQCiJxGlCtAoQP7u62Mcasz4NdZAAJRDbQKhoiiUu8n8R3rMafPnp53NIClMWc2n3mm8xj517HtOR5j0f2JkM8CXdBteFYjV7axMQjr5CwtXoZFURSH6fM4c-TkeiI3SD9L4QxUOzmcPHDva9Ub1swLChe0ZocAhCwgss7sy0s7CHgA2dHKi2dzwfKQWsCZW80q9oBkrnpCIkw-dqiPNA_zkJdmPSBT3lQAkrELu3ElW__LdKPOjiOcWlq3RFGY-_QzoZSxwlLFuhv9Myv8_MmgJoTQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.c0ASRK0GYM_zZLlDWFFevf4j-tbvn4IxkxM67y6fSH7cRTH4nZ2hJDt0QxooqwbEoQ8b_T18ttiqpNW_I09NoVYFEIDcIyJY47AEOuru97CgoUtBzCx-EX7qBTNBUAdwqxM3sLUzg9XBiFzCWZWi4dbRVbEmonUOUKDEjSqt4rmLCaVZqM8Ssp-gpJBxMly-te7lqaeqREJmzhyIpOLILkZY6MEbvXkzQGDY1rr_EArGJ_nxCE6tLtozJZEwnfQc6duZmjtyrLWt_tLuuVXqTyQ5QvYPI7B9y5-HFUiY3HPbEy_vXn183ZIDYlLFBUzlyQ-MBXhLjzO_2LplNAuYCc9Sepyn9lldH6SW62BjY7dLybeLgUx6zxeXC3UwG387AlMgfot5YJoZdl_5zos8Scgq20yYhvqMVmVjFB0chs6ZO9hu0ibulh8W9ffiR5Oe2y1hhU4wJ35hzOcwRh2VjwhaaF0rc1nhbuMMIqtYea0_9Icq4sb6heXb649qRw5-fRJajMBJWuVuxZ2Rd8w-ORg4oZqIvJdg4xqfda21W-jacqyxtmBrS6I997-j2eUQ5ndhQpMMn_7m6c8jkqsxla8oyglI0Olfnz_33bUl6kIm6gqJyVnSe69jcR3ZF1uRe388It2XpJcbIZ6ax0pVXvIXQq_50BOYr4ahcr87gcZ7-opWVmvti-XyypkrQRhSgjnMcxQtqqtWZc3xS0OnOfozBc-Yok-Fj1Ucxhtsugn8ZkgpvyYkr7isek99uBf83kZklz7_YFWYof_2temmi2uXliZrMRzsa2p3t-Sn4Vj1XziRzgSpR8vosrmpwabzWrSUlyumiljRrZ8X677JXBFu_xhnmmYI1-puSVbRjJtB-F6-_I3fw9ialXYbWxzYvI69xXnhtbR12dhWmbOp_rOYciuu5q9leUat_t_y4i59oZjVb9U3iMqdWOjxfcpsV1w7XuXezW_U5_BZdMc2azFQ6132YXv0Zo2ZchoxFxRen2WvWXhI8R6Jw","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Mon, 14 Oct 2024 20:03:02 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets
    body:
      encoding: UTF-8
      string: '{"properties":{"title":"Test"},"sheets":[{"properties":{"title":"Sheet
        name"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.c0ASRK0GYM_zZLlDWFFevf4j-tbvn4IxkxM67y6fSH7cRTH4nZ2hJDt0QxooqwbEoQ8b_T18ttiqpNW_I09NoVYFEIDcIyJY47AEOuru97CgoUtBzCx-EX7qBTNBUAdwqxM3sLUzg9XBiFzCWZWi4dbRVbEmonUOUKDEjSqt4rmLCaVZqM8Ssp-gpJBxMly-te7lqaeqREJmzhyIpOLILkZY6MEbvXkzQGDY1rr_EArGJ_nxCE6tLtozJZEwnfQc6duZmjtyrLWt_tLuuVXqTyQ5QvYPI7B9y5-HFUiY3HPbEy_vXn183ZIDYlLFBUzlyQ-MBXhLjzO_2LplNAuYCc9Sepyn9lldH6SW62BjY7dLybeLgUx6zxeXC3UwG387AlMgfot5YJoZdl_5zos8Scgq20yYhvqMVmVjFB0chs6ZO9hu0ibulh8W9ffiR5Oe2y1hhU4wJ35hzOcwRh2VjwhaaF0rc1nhbuMMIqtYea0_9Icq4sb6heXb649qRw5-fRJajMBJWuVuxZ2Rd8w-ORg4oZqIvJdg4xqfda21W-jacqyxtmBrS6I997-j2eUQ5ndhQpMMn_7m6c8jkqsxla8oyglI0Olfnz_33bUl6kIm6gqJyVnSe69jcR3ZF1uRe388It2XpJcbIZ6ax0pVXvIXQq_50BOYr4ahcr87gcZ7-opWVmvti-XyypkrQRhSgjnMcxQtqqtWZc3xS0OnOfozBc-Yok-Fj1Ucxhtsugn8ZkgpvyYkr7isek99uBf83kZklz7_YFWYof_2temmi2uXliZrMRzsa2p3t-Sn4Vj1XziRzgSpR8vosrmpwabzWrSUlyumiljRrZ8X677JXBFu_xhnmmYI1-puSVbRjJtB-F6-_I3fw9ialXYbWxzYvI69xXnhtbR12dhWmbOp_rOYciuu5q9leUat_t_y4i59oZjVb9U3iMqdWOjxfcpsV1w7XuXezW_U5_BZdMc2azFQ6132YXv0Zo2ZchoxFxRen2WvWXhI8R6Jw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1rBXK9o7IXtxQ9Qu9XeSTZHwE0gk6J_4xGPP-CrTy7U8",
          "properties": {
            "title": "Test",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1rBXK9o7IXtxQ9Qu9XeSTZHwE0gk6J_4xGPP-CrTy7U8:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"mergeCells":{"mergeType":"MERGE_ALL","range":{"endColumnIndex":1,"endRowIndex":2,"sheetId":1132822063,"startColumnIndex":0,"startRowIndex":0}}},{"mergeCells":{"mergeType":"MERGE_ALL","range":{"endColumnIndex":2,"endRowIndex":2,"sheetId":1132822063,"startColumnIndex":1,"startRowIndex":0}}},{"mergeCells":{"mergeType":"MERGE_ALL","range":{"endColumnIndex":6,"endRowIndex":1,"sheetId":1132822063,"startColumnIndex":2,"startRowIndex":0}}},{"mergeCells":{"mergeType":"MERGE_ALL","range":{"endColumnIndex":10,"endRowIndex":1,"sheetId":1132822063,"startColumnIndex":6,"startRowIndex":0}}},{"mergeCells":{"mergeType":"MERGE_ALL","range":{"endColumnIndex":11,"endRowIndex":2,"sheetId":1132822063,"startColumnIndex":10,"startRowIndex":0}}},{"updateCells":{"fields":"userEnteredFormat(horizontalAlignment,backgroundColor,textFormat),userEnteredValue","range":{"endColumnIndex":11,"endRowIndex":2,"sheetId":1132822063,"startColumnIndex":0,"startRowIndex":0},"rows":[{"values":[{"userEnteredFormat":{"horizontalAlignment":"CENTER","textFormat":{"bold":true}},"userEnteredValue":{"stringValue":"Imię
        i nazwisko"}},{"userEnteredFormat":{"horizontalAlignment":"CENTER","textFormat":{"bold":true}},"userEnteredValue":{"stringValue":"Email"}},{"userEnteredFormat":{"horizontalAlignment":"CENTER","textFormat":{"bold":true}},"userEnteredValue":{"stringValue":"PIT"}},{"userEnteredValue":{"stringValue":null}},{"userEnteredValue":{"stringValue":null}},{"userEnteredValue":{"stringValue":null}},{"userEnteredFormat":{"horizontalAlignment":"CENTER","textFormat":{"bold":true}},"userEnteredValue[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1rBXK9o7IXtxQ9Qu9XeSTZHwE0gk6J_4xGPP-CrTy7U8/permissions
    body:
      encoding: UTF-8
      string: '{"emailAddress":"test@email.com","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.c0ASRK0GYM_zZLlDWFFevf4j-tbvn4IxkxM67y6fSH7cRTH4nZ2hJDt0QxooqwbEoQ8b_T18ttiqpNW_I09NoVYFEIDcIyJY47AEOuru97CgoUtBzCx-EX7qBTNBUAdwqxM3sLUzg9XBiFzCWZWi4dbRVbEmonUOUKDEjSqt4rmLCaVZqM8Ssp-gpJBxMly-te7lqaeqREJmzhyIpOLILkZY6MEbvXkzQGDY1rr_EArGJ_nxCE6tLtozJZEwnfQc6duZmjtyrLWt_tLuuVXqTyQ5QvYPI7B9y5-HFUiY3HPbEy_vXn183ZIDYlLFBUzlyQ-MBXhLjzO_2LplNAuYCc9Sepyn9lldH6SW62BjY7dLybeLgUx6zxeXC3UwG387AlMgfot5YJoZdl_5zos8Scgq20yYhvqMVmVjFB0chs6ZO9hu0ibulh8W9ffiR5Oe2y1hhU4wJ35hzOcwRh2VjwhaaF0rc1nhbuMMIqtYea0_9Icq4sb6heXb649qRw5-fRJajMBJWuVuxZ2Rd8w-ORg4oZqIvJdg4xqfda21W-jacqyxtmBrS6I997-j2eUQ5ndhQpMMn_7m6c8jkqsxla8oyglI0Olfnz_33bUl6kIm6gqJyVnSe69jcR3ZF1uRe388It2XpJcbIZ6ax0pVXvIXQq_50BOYr4ahcr87gcZ7-opWVmvti-XyypkrQRhSgjnMcxQtqqtWZc3xS0OnOfozBc-Yok-Fj1Ucxhtsugn8ZkgpvyYkr7isek99uBf83kZklz7_YFWYof_2temmi2uXliZrMRzsa2p3t-Sn4Vj1XziRzgSpR8vosrmpwabzWrSUlyumiljRrZ8X677JXBFu_xhnmmYI1-puSVbRjJtB-F6-_I3fw9ialXYbWxzYvI69xXnhtbR12dhWmbOp_rOYciuu5q9leUat_t_y4i59oZjVb9U3iMqdWOjxfcpsV1w7XuXezW_U5_BZdMc2azFQ6132YXv0Zo2ZchoxFxRen2WvWXhI8R6Jw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "15706666104034902784",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Mon, 14 Oct 2024 20:03:07 GMT
recorded_with: VCR 6.3.1
