body {
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* Light background for sidebar */
  height: 100%;
}

.nav-item {
  padding: 0.5rem 1rem;
}

.sidebar .nav-item:hover {
  background-color: #e9ecef; /* Lighter background for sidebar items */
}

nav.navbar {
  border-bottom: 1px solid #dee2e6; /* Light border for navbar */
}

nav.sidebar {
  border-right: 1px solid #dee2e6; /* Light border for sidebar */
}
